.statePlaner {
    background: #FFF;
    border: 2px solid #EEE;
    padding: 5px 0px;
    min-width: 82px;
    font: normal 13px arial;
    display: table;
    color: #333;
    position: relative;
}

    .statePlaner .spTitle {
        margin-bottom: 5px;
        min-width: 550px;
    }

        .statePlaner .spTitle:after {
            content: "";
            display: table;
            clear: both;
        }

    .statePlaner .spTopBtn {
        margin-left: 5px;
        margin-right: 5px;
        padding: 5px;
        display: inline-block;
        float: left;
        border: 1px solid #EEE;
        text-align: center;
        user-select: none;
        cursor: pointer;
    }

    .statePlaner .spStateTxt {
        width: 500px;
        display: inline-block;
        float: left;
        padding: 5px;
        height: 15px;
        border: 1px solid #EEE;
        margin-right: 5px;
    }

    .statePlaner .redInfo {
        color: #CC0000;
    }

    .statePlaner .spul li, .statePlaner .spul ul {
        list-style: none;
        margin: 7px;
        padding: 4px;
        float: left;
        cursor: pointer;
        display: table;
    }

    .statePlaner .spul ul {
        border: 1px solid #EEE;
    }

    .statePlaner .spul li {
        background: #FFF;
    }

    .statePlaner svg {
        position: absolute;
        background: rgba(0,0,0,0);
        opacity: 1;
        left: 0px;
        top: 0px;
        pointer-events: none;
    }

    .statePlaner .spul ul {
        position: relative;
        padding-top: 10px;
    }

    .statePlaner .spul:after {
        content: "";
        display: table;
        clear: both;
    }

    .statePlaner .spul > li, .statePlaner .spul > ul {
        float: initial;
    }

        .statePlaner .spul > ul li:first-child {
            position: relative;
            left: -1px;
            top: -7px;
            margin: -4px;
            width: 100%;
        }

    .statePlaner .spExpend {
        border: 1px solid #EEE;
        text-align: center;
        user-select: none;
        cursor: pointer;
        margin-left: 10px;
        margin-right: 0px;
        min-width: 18px;
        display: inline-block;
        color: #333333;
    }

    .statePlaner .spul {
        margin: 0px;
        padding: 0px;
    }

    .statePlaner .floatInfo {
        position: absolute;
        width: 100px;
        height: 25px;
        pointer-events: none;
        background: #ffd800;
        left: 0px;
        top: 0px;
        box-sizing: border-box;
    }

    .statePlaner .inactiveState {
        font-weight: normal;
        color: #333;
        border: 1px solid #EEE;
    }

    .statePlaner .activeState {
        font-weight: bold;
        color: #FF0000;
        border: 1px solid #FF0000;
        opacity: 1;
    }

    .statePlaner .activeTrans {
        font-weight: normal;
        color: #e6548f;
        border: 1px solid #e6548f;
        opacity: 1;
    }
