.statePlaner {
    padding: 5px 0px;
    min-width: 82px;
    font: normal 13px Tahoma;
    display: table;
    background: #333;
    color: #EEE;
    position: absolute;
    left: 10px;
    top: 10px;
    border: 1px solid #999;
}

    .statePlaner .spul {
        margin: 0px;
        padding: 0px;
        position: relative;
        left: 0px;
        top: 0px;
    }

    .statePlaner svg {
        position: absolute;
        background: rgba(0,0,0,0);
        opacity: 1;
        left: 0px;
        top: 0px;
        pointer-events: none;
    }

    .statePlaner .spTitle {
        margin-bottom: 5px;
        min-width: 550px;
    }

        .statePlaner .spTitle:after {
            content: "";
            display: table;
            clear: both;
        }

    .statePlaner .spState {
        width: 100%;
        height: 20px;
        box-sizing: border-box;
        border-bottom: 1px solid #666;
        padding: 0px 0px 5px 5px;
    }

    .statePlaner .spTopBtn {
        margin-left: 5px;
        margin-right: 5px;
        padding: 5px;
        display: inline-block;
        float: left;
        border: 1px solid #666;
        text-align: center;
        user-select: none;
        cursor: pointer;
    }

    .statePlaner .spStateTxt {
        width: 500px;
        display: inline-block;
        float: left;
        padding: 7px 5px 3px 5px;
        height: 16px;
        margin-right: 5px;
        border: none;
        -webkit-appearance: none;
        outline: 0;
        background: rgba(0,0,0,0);
        border-bottom: 1px solid #666;
        color: #EEE;
    }

    .statePlaner .redInfo {
        color: #CC0000;
    }

    .statePlaner .spul li, .statePlaner .spul ul {
        list-style: none;
        margin: 7px;
        padding: 4px;
        float: left;
        cursor: pointer;
        display: table;
    }

    .statePlaner .spul ul {
        border: 1px solid #666;
    }

    .statePlaner .spul li {
        background: #393939;
    }



    .statePlaner .spul ul {
        position: relative;
        padding-top: 10px;
    }

    .statePlaner .spul:after {
        content: "";
        display: table;
        clear: both;
    }

    .statePlaner .spul > li, .statePlaner .spul > ul {
        float: initial;
    }

        .statePlaner .spul > ul li:first-child {
            position: relative;
            left: -1px;
            top: -7px;
            margin: -4px;
            width: 100%;
        }

    .statePlaner .spExpend {
        border: 1px solid #666;
        text-align: center;
        user-select: none;
        cursor: pointer;
        margin-left: 10px;
        margin-right: 0px;
        min-width: 18px;
        display: inline-block;
    }



    .statePlaner .floatInfo {
        position: absolute;
        width: 100px;
        height: 25px;
        pointer-events: none;
        background: #ffd800;
        left: 0px;
        top: 0px;
        box-sizing: border-box;
    }

    .statePlaner .inactiveState {
        font-weight: normal;
        border: 1px solid #666;
    }

    .statePlaner .activeState {
        font-weight: bold;
        color: #f4a138;
        border: 1px solid #f4a138;
        opacity: 1;
    }

    .statePlaner .activeTrans {
        font-weight: normal;
        color: #EBD6A9;
        border: 1px solid #EBD6A9;
        opacity: 1;
    }
